@charset "utf-8";

/* 레이아웃 */
#header{width: 100%; height: 100px; background: rgba(0,0,0,.2);}
#home{width: 100%; height: 750px; position: relative;}
#about{}
#skill{}
#portfolit{}
#contact{}
#footer{}

.container {width: 1320px; height: inherit; background: rgba(0,0,0,.5); margin: 0 auto;}

/* header */
.header-top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.header-top .logo {
    width: 100px;
    height: 100%;
    margin-top: 33px;
}
.header-top .logo a {
    display: block;
    text-align: center;
}
.header-top .nav {
    width: 70em;
}
.header-top .nav ul {
    display: flex;
    margin-top: 56px;
    justify-content: right;
}
.header-top .nav ul li {
    margin-right: 3em;
}
.header-top .nav ul li a {
    display: flex;
    font-size: 2rem;
    padding: 0.5rem;
    color: #fff;
}

/* home */
.home-wrap {
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
}